<h2 *ngIf="leveledUp" class="hero-name">{{hero.name}} leveled up to level {{hero.level}}!</h2>

<div class="stat-block">
    <div class="stat-label">Stamina: {{hero.stamina}}</div>
    <a mat-mini-fab class="stat-button" (click)="decreaseStamina()"><i class="material-icons">remove</i></a>
    <a mat-mini-fab class="stat-button" (click)="increaseStamina()"><i class="material-icons">add</i></a>
    <div class="stat-label">Strength: {{hero.strength}}</div>
    <a mat-mini-fab class="stat-button" (click)="decreaseStrength()"><i class="material-icons">remove</i></a>
    <a mat-mini-fab class="stat-button" (click)="increaseStrength()"><i class="material-icons">add</i></a>
    <div class="stat-label">Agility: {{hero.agility}}</div>
    <a mat-mini-fab class="stat-button" (click)="decreaseAgility()"><i class="material-icons">remove</i></a>
    <a mat-mini-fab class="stat-button" (click)="increaseAgility()"><i class="material-icons">add</i></a>
    <div class="stat-label">Magic: {{hero.magic}}</div>
    <a mat-mini-fab class="stat-button" (click)="decreaseMagic()"><i class="material-icons">remove</i></a>
    <a mat-mini-fab class="stat-button" (click)="increaseMagic()"><i class="material-icons">add</i></a>
    <div class="stat-label">Energy: {{hero.energy}}</div>
    <a mat-mini-fab class="stat-button" (click)="decreaseEnergy()"><i class="material-icons">remove</i></a>
    <a mat-mini-fab class="stat-button" (click)="increaseEnergy()"><i class="material-icons">add</i></a> 
    <div class="available-points">Remaining points: {{hero.statPoints}}</div>
</div>

<div class="button-row">                
    <button mat-raised-button mat-dialog-close class="apply-button" (click)="apply()">Apply</button>
    <button mat-raised-button mat-dialog-close class="apply-button">Cancel</button>            
</div>
