<app-nav-bar></app-nav-bar>

<div *ngIf="isDataAvailable">
    <mat-list class="options-list">
        <mat-list-item>
            <h3>Sound</h3>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]=theUser.muteSound>Mute Sound</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <h3>Gameplay</h3>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]=theUser.showNameplates>Show Nameplates</mat-checkbox>
        </mat-list-item>
    </mat-list>
    <div class="button-div">
        <button mat-raised-button class="options-button" (click)="apply()">Apply</button>
        <button mat-raised-button class="options-button" (click)="cancel()">Cancel</button>
    </div>
</div>
