<app-nav-bar></app-nav-bar>

<div *ngIf="isDataAvailable">
    <md-list class="options-list">
        <md-list-item>
            <h3>Sound</h3>
        </md-list-item>
        <md-list-item>
            <md-checkbox [(ngModel)]=theUser.muteSound>Mute Sound</md-checkbox>
        </md-list-item>
        <md-list-item>
            <h3>Gameplay</h3>
        </md-list-item>
        <md-list-item>
            <md-checkbox [(ngModel)]=theUser.showNameplates>Show Nameplates</md-checkbox>
        </md-list-item>
    </md-list>
    <div class="button-div">
        <button md-raised-button class="options-button" (click)="apply()">Apply</button>
        <button md-raised-button class="options-button" (click)="cancel()">Cancel</button>
    </div>
</div>
