<form>
    <mat-card class="login-card">        
        <mat-toolbar>
            <span class="login-title">Login</span>
        </mat-toolbar>
        <mat-card-content>
            <mat-input-container class="input-boxes">
                <input matInput placeholder="Email" id="email" [(ngModel)]="email" name="email" required #em="ngModel">
            </mat-input-container>      
            <br>
            <mat-input-container class="input-boxes">
                <input matInput type="password" placeholder="Password" id="password" [(ngModel)]="password" name="password" required #pw1="ngModel">          
            </mat-input-container>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="submit-button" (click)="login()" type="submit">Login</button>            
        </mat-card-actions>        
    </mat-card>
</form>
<button mat-button class="register-button" (click)="register()" type="submit">Create New Account</button>
