<app-nav-bar></app-nav-bar>

<button md-button class="back-button" [routerLink]="['/instructions']">Back to Instructions</button>

<div class="story-title">Story Mode</div>
<div class="story-subtitle">Stage 1 - Choose Your First Hero</div>
<div class="story-content">
    When you begin a new story, you will be given three starting heroes to choose from. Each of these heroes will fight differently and have their own strengths and weaknesses.
</div>
<div class="story-content">
    Once you choose a hero to start with, you will be able to customize their stats to best suit your play-style.
</div>
<div class="story-subtitle">Stage 2 - Begin Your Story</div>
<div class="story-content">
    Now that your first hero is ready, it's time to journey into the world! You will initially be met with small challenges that allow you to strengthen your hero.
</div>
<div class="story-content">
    The more you use a hero, the faster they will level up. When a character levels up they get more stat-points to assign, as well as occasionally learning new abilities.
</div>
<div class="story-subtitle">Stage 3 - Pickup Friends Along The Way</div>
<div class="story-content">
    Depending on how you treat people along your journey, you'll they opportunity to gain a large number of friends and add them to your team to fight for you.
</div>
<div class="story-content">
    Some battlefields allow both teams to fight with multiples characters at once, so it is advantageous to keep a large team.
</div>
<div class="story-subtitle">Stage 4 - Ending Your Journey</div>
<div class="story-content">
    Eventually your journey will come to an end, but this doesn't mean that you will never play with your heroes again!
</div>
<div class="story-content">
    You will be able to travel back to areas to use your new heroes in old areas where you didn't originally have.
     On top of that, there will constantly be new content added to explore.
</div>
