<app-nav-bar></app-nav-bar>

<div *ngIf="!loading">
    <div class="hero-title">Team</div>
    <md-list class="hero-list">
        <md-list-item *ngFor="let hero of heroes" class="hero-item" (click)="openHeroDialog(hero)">
            Lvl {{hero.level}} {{hero.name}}
        </md-list-item>
    </md-list>

    <div class="hero-title">Location</div>
    <div class="location">{{theGame.location}}</div>
</div>

<md-progress-spinner *ngIf="loading" class="spinner" mode=indeterminate></md-progress-spinner>
