.hero-list {
    font-weight: bold;
}

.hero-item {
    margin-left: 40%;
}

.hero-name:hover {
    cursor: pointer;
}

.hero-title {
    margin-top: 5%;
    margin-left: 40%;
    font-size: 30px;
    font-weight: bold;
}

.location {
    margin-left: 41%;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.spinner {
    margin: auto;
    display: block;
    margin-top: 200px;
}

.stat-points {
    margin-left: 20px;
    color: #69D769;
}

.stat-points:hover {
    cursor: pointer;
}

.xp-bar {
    margin-left: 25px;
    width: 125px;
}

.xp-text {
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
}
