<app-nav-bar></app-nav-bar>

<div class="mode-content">
    <mat-card class="mode-card" [routerLink]="['/play/new-story']">
        <mat-toolbar class="mode-toolbar">
            <span class="mode-title">New Story</span>
        </mat-toolbar>
        <mat-card-content>
            <img class="mode-image" [src]="imgUrl">
        </mat-card-content>
    </mat-card>
    <mat-card class="mode-card" [routerLink]="['/play/continue-story']">
        <mat-toolbar class="mode-toolbar">
            <span class="mode-title">Continue Story</span>
        </mat-toolbar>
        <mat-card-content>
            <img class="mode-image" [src]="imgUrl">
        </mat-card-content>
    </mat-card>
    <mat-card class="mode-card" [routerLink]="['/play/the-arena']">
        <mat-toolbar class="mode-toolbar">
            <span class="mode-title">The Arena</span>
        </mat-toolbar>
        <mat-card-content>
            <img class="mode-image" [src]="imgUrl">
        </mat-card-content>
    </mat-card>
</div>
