<app-nav-bar></app-nav-bar>

<div class="game-list" *ngFor="let game of gameList">
    <div class="spacer">
        <mat-grid-list cols="6" rowHeight="50px">            
            <mat-grid-tile [colspan]="6" [rowspan]="1">
                <p class="game-name">{{game.name}}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="3">
                <img class="mini-img" [src]="getHeroImg(game.storyLine)">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="1">
                <button mat-raised-button (click)="moreDetails(game)">More Details</button>
                <button mat-raised-button (click)="play(game)">Play</button>                
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

<mat-progress-spinner *ngIf="loading" class="spinner" mode=indeterminate></mat-progress-spinner>
