<app-nav-bar></app-nav-bar>

<div *ngIf="isBattleFinished === 0">
    <div class="enemy-heroes">
        <div *ngFor="let thisEnemy of theGame.enemy" class="enemy-hero">
            <div class="enemy-hero-name" (click)="openHeroDialog(thisEnemy)" [style.color]="getNameColor(thisEnemy)">
                {{thisEnemy.name}}
            </div>
            <div class="stats" [style.color]="getHealthColor(thisEnemy)">
                H: {{thisEnemy.currentHealth}} / {{thisEnemy.maxHealth}}
            </div>
            <div class="stats" [style.color]="getEnergyColor(thisEnemy)">
                E: {{thisEnemy.currentEnergy}} / {{thisEnemy.maxEnergy}}
            </div>
        </div>
    </div>
    
    <textarea readonly class="play-by-play">{{theGame.playByPlay}}</textarea>
    <button mat-button class="clear-button" (click)="clearLog()">clear log</button>

    <div class="player-heroes">
        <div *ngFor="let thisHero of theGame.player" class="player-hero">
            <div class="player-hero-name" (click)="openHeroDialog(thisHero)" [style.color]="getNameColor(thisHero)">
                {{thisHero.name}}
            </div>
            <div class="stats" [style.color]="getHealthColor(thisHero)">
                H: {{thisHero.currentHealth}} / {{thisHero.maxHealth}}
            </div>
            <div class="stats" [style.color]="getEnergyColor(thisHero)">
                E: {{thisHero.currentEnergy}} / {{thisHero.maxEnergy}}
            </div>
            <mat-select placeholder="Select an Action" class="player-abilities" *ngIf="turnActive" [disabled]="disableButtons || !thisHero.alive || thisHero.frozen">
                <mat-option *ngFor="let ability of thisHero.abilities" [value]="ability" 
                (click)="abilitySelected(thisHero, ability)" [disabled]="ability.cost > thisHero.currentEnergy">
                    {{ability.name}} ({{ability.cost}})
                </mat-option>
            </mat-select>
            <mat-select [disabled]="!thisHero.targetableAbilitySet || disableButtons" placeholder="Select a Target" class="player-abilities"
                *ngIf="turnActive && !thisHero.friendlyTargetableAbilitySet">   
                <mat-option *ngFor="let target of theGame.enemy" [value]="target" (click)="setReady(thisHero, target)" [disabled]="!target.alive">
                    {{target.name}}
                </mat-option>
            </mat-select>
            <mat-select [disabled]="!thisHero.friendlyTargetableAbilitySet || disableButtons" placeholder="Select a Target" class="player-abilities"
                *ngIf="turnActive && thisHero.friendlyTargetableAbilitySet">   
                <mat-option *ngFor="let target of theGame.player" [value]="target" (click)="setReady(thisHero, target)" [disabled]="!target.alive">
                    {{target.name}}
                </mat-option>
            </mat-select>
        </div>
    </div>    
    <button [disabled]="ready === false ? true : null" mat-button class="battle-button" (click)="executeTurn()">Battle!</button>
</div>

<div class="game-over" [ngSwitch]="isBattleFinished">
    <div *ngSwitchCase="0"></div>
    <h1 *ngSwitchCase="1">Tie Game</h1>
    <h1 *ngSwitchCase="2">You Win!</h1>
    <h1 *ngSwitchCase="3">Game Over</h1>
</div>

<button mat-raised-button class="continue-button" *ngIf="isBattleFinished != 0" (click)="continue()">Continue</button>
