<app-nav-bar></app-nav-bar>

<button md-button class="back-button" [routerLink]="['/instructions']">Back to Instructions</button>

<div class="arena-title">The Arena</div>
<div class="arena-subtitle">Stage 1 - Choose Your Team</div>
<div class="arena-content">
    Before doing battle in the arena, you must choose three heroes you would like to use. Only heroes that you have previously unlocked from Story Mode will be available to use.
</div>
<div class="arena-content">
    Don't worry! If you haven't unlocked any heroes yet, you can still play in the arena with the three heroes that are unlocked by default.
</div>
<div class="arena-note">
    NOTE: In the arena all characters are automatically max-level regardless of what level you have reached in Story Mode.
</div>
<div class="arena-subtitle">Stage 2 - Battle!</div>
<div class="arena-content">
    Once you have your preferred heroes selected, you can start the arena battle.
</div>
<div class="arena-content">
    An arena battle is a non-stop fight against endless waves of enemies until all of your heroes are killed. Unlike Story Mode, your heroes will not be healed inbetween battles.
</div>
<div class="arena-note">
    The first wave will be extraordinarily easy. Each round after that will get slightly more challenging and difficult.
</div>
<div class="arena-content">
    Once the waves get too overwhelming and your hero is defeated, the number of waves you were able to complete will be recorded and you will be returned to the main menu.
</div>
