.arena-title {
    margin-top: 4%;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.arena-subtitle {
    margin-top: 3%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
}

.arena-content {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.arena-note {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.back-button {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}
