<div class="main-content">
    {{displayText}}
</div>

<div class="button-row">
    <button mat-button [disabled]="buttonsDisabled || firstPage" (click)="previousPage()" class="nav-button">Previous</button>
    <button mat-button *ngIf="!lastPage" [disabled]="buttonsDisabled" (click)="nextPage()" class="nav-button">Next</button>
    <button mat-button *ngIf="lastPage" [disabled]="buttonsDisabled" mat-dialog-close class="nav-button">Close</button>
</div>

<button mat-button class="skip-button" mat-dialog-close>skip</button>
