<app-nav-bar></app-nav-bar>

<div *ngIf="!loading">
    <div class="hero-title">Team</div>
    <mat-list class="hero-list">
        <mat-list-item *ngFor="let hero of heroes" class="hero-item">
            <span class="hero-name" (click)="openHeroDialog(hero)">Lvl {{hero.level}} {{hero.name}}</span>
            <mat-progress-bar class="xp-bar" [value]=35></mat-progress-bar>
            <span class="xp-text">({{hero.xp}}/{{hero.nextLevel}})</span>
            <i class="material-icons stat-points" *ngIf="hero.statPoints > 0" matTooltip="Stat points available!" matTooltipPosition="right" (click)="editHero(hero)">
                whatshot
            </i>
        </mat-list-item>
    </mat-list>
    <button mat-raised-button class="continue-button" (click)="continue()">Continue</button>
</div>

<mat-progress-spinner *ngIf="loading" class="spinner" mode=indeterminate></mat-progress-spinner>
