.hero-name {
    text-align: center;
}

.mat-list >  .mat-list-item:nth-child(2n+1) {
  background-color: rgba(232,232,238, .25);  
}

.mat-list >  .mat-list-item:nth-child(2n) {  
  background-color:white;
}

.mat-list-item {
    border-radius: 10px;
}

.ability-description:hover {
    cursor: default;
}

.ability-description {
    width: 33%;
    text-align: center;
}
