<app-nav-bar></app-nav-bar>

<div class="title">Choose Your Story Line</div>
<div class="story-content">
    <md-card class="story-card">
        <md-toolbar class="story-toolbar">
            <span class="story-title">Burmi</span>
        </md-toolbar>
        <md-card-content>
            <img class="story-image" [src]="warriorUrl">
        </md-card-content>
    </md-card>
    <md-card class="story-card">
        <md-toolbar class="story-toolbar">
            <span class="story-title">Elvashj</span>
        </md-toolbar>
        <md-card-content>
            <img class="story-image" [src]="rangerUrl">
        </md-card-content>
    </md-card>
    <md-card class="story-card">
        <md-toolbar class="story-toolbar">
            <span class="story-title">Ushuna</span>
        </md-toolbar>
        <md-card-content>
            <img class="story-image" [src]="warlockUrl">
        </md-card-content>
    </md-card>
</div>
