<app-nav-bar></app-nav-bar>

<div class="title">Choose Your Story Line</div>
<div class="story-content">
    <mat-card class="story-card" [routerLink]="['/play/customize', 'Burmi']">
        <mat-toolbar class="story-toolbar">
            <span class="story-title">Burmi</span>
        </mat-toolbar>
        <mat-card-content>
            <img class="story-image" [src]="warriorUrl">
        </mat-card-content>
    </mat-card>
    <mat-card class="story-card" [routerLink]="['/play/customize', 'Elvashj']">
        <mat-toolbar class="story-toolbar">
            <span class="story-title">Elvashj</span>
        </mat-toolbar>
        <mat-card-content>
            <img class="story-image" [src]="rangerUrl">
        </mat-card-content>
    </mat-card>
    <mat-card class="story-card" [routerLink]="['/play/customize', 'Ushuna']">
        <mat-toolbar class="story-toolbar">
            <span class="story-title">Ushuna</span>
        </mat-toolbar>
        <mat-card-content>
            <img class="story-image" [src]="warlockUrl">
        </mat-card-content>
    </mat-card>
</div>
