<form>
    <mat-card class="login-card">
        <mat-toolbar>
            <span class="login-title">Register</span>
        </mat-toolbar>
        <mat-card-content>
            <mat-input-container class="input-boxes">
                <input matInput placeholder="Username" id="nickname" [(ngModel)]="nickname" name="nickname" required #nn="ngModel">
            </mat-input-container>
            <mat-input-container class="input-boxes">
                <input matInput placeholder="Email Address" id="email" [(ngModel)]="email" name="email" required #em="ngModel">
            </mat-input-container>
            <br>
            <mat-input-container class="input-boxes">
                <input matInput type="password" placeholder="Password" id="password" [(ngModel)]="password" name="password" required #pw1="ngModel">          
            </mat-input-container>
            <br>
            <mat-input-container class="input-boxes">
                <input matInput type="password" placeholder="Confirm Password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required #pw2="ngModel">          
            </mat-input-container>
            <div *ngIf="passwordFail" class="alert callout">
                Passwords must match
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="button-row">                
                <button mat-raised-button class="register-button" (click)="register()">Register</button>
                <button mat-raised-button class="register-button" (click)="cancel()">Cancel</button>            
            </div>
        </mat-card-actions>  
    </mat-card>
</form>
